#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  text-overflow: ellipsis;
}

.chip {
  background-color: aquamarine;
  border: 1px solid gray;
}

.example-component {
  margin: 24px auto;
  background: white;
}
